[submodule "packages/flx_core_flutter"]
	path = packages/flx_core_flutter
	url = https://gitlab.com/VNEU/flexurio-erp-core.git
[submodule "packages/flx_authentication_flutter"]
	path = packages/flx_authentication_flutter
	url = https://gitlab.com/VNEU/flexurio-chiron-authentication.git
